/* Enter your custom styles here */

.sapUiSmallMarginStart {
    margin-left: 8px; /* Adjust the spacing as required */
}
.sec{
    margin-left:13.5%;
}

/* .sapMPanelContent:not(.sapMPanelBGTransparent) {
    border-bottom: .0625rem solid #1C2228;
}

.sapMPanelBGSolid {
    background-color: #1C2228
} 
.sapMIBar.sapMHeader-CTX {
    color: #1C2228;
    background-color: #1C2228;
    filter: none;
    background-image: none;
} */
.checkbox-container {
    display: flex;
    flex-wrap: wrap; /* This allows wrapping on smaller screens */
    justify-content: center;
    align-items: center;
}

/* For larger screens (e.g., tablets and desktops) */
@media (min-width: 600px) {
    .checkbox-container {
        flex-direction: row; /* Horizontal layout */
    }
}

/* For smaller screens (e.g., phones) */
@media (max-width: 599px) {
    .checkbox-container {
        flex-direction: column; /* Vertical layout */
        align-items: flex-start; /* Align to the start for better appearance */
    }
}


/* .customBackground {
    background-color: rgb(17, 50, 116) !important; 
   color:#fff;
    
} */

/* .sapMWizard.sapMWizardBgStandard .sapMWizardStepContainer {
    background-color: rgb(17, 50, 116);
}

.sapMWizardProgressNav {
    height: 4rem;
    padding: 1rem 1rem 0 1rem;
    user-select: none;
    background: rgb(17, 50, 116);
    border: none;
    font-size: .875rem;
    border: 1rem #fff;
} */
